<p>common-products-and-filter-page works!</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2">
      <div class="left-filter-area">
        <app-filer></app-filer>
      </div>
    </div>
    <div class="col-md-10 col-md-10">
      <div class="rigth-product-area">
        <h3>Product name</h3>
        <div class="d-flex flex-wrap">
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
          <span class="m-2">
            <app-product-items></app-product-items>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
