<div class="container">
  <div class="row d-flex justify-content-evenly">
    <div class="card">
      <img
        src="../../../../assets/img_mountains_wide.jpg"
        style="height: 250px; width: auto"
      />
      <p>Single Band</p>
    </div>
    <div class="card">
      <img
        src="../../../../assets/img_mountains_wide.jpg"
        style="height: 250px; width: auto"
      />
      <p>Single Band</p>
    </div>
    <div class="card">
      <img
        src="../../../../assets/img_mountains_wide.jpg"
        style="height: 250px; width: auto"
      />
      <p>Single Band</p>
    </div>
    <div class="card">
      <img
        src="../../../../assets/img_mountains_wide.jpg"
        style="height: 250px; width: auto"
      />
      <p>Single Band</p>
    </div>
    <div class="card">
      <img
        src="../../../../assets/img_mountains_wide.jpg"
        style="height: 250px; width: auto"
      />
      <p>Single Band</p>
    </div>
  </div>
</div>
