<!-- ager module banne ka baad data sahi terha se share ho tab hi change karna hain isma nai toh jab data share kara jayega tab ye kharab ho jayega -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="d-flex">
        <div class="container">
          <div class="row">
            <h2 class="m-3">My wishlist</h2>
            <!--  -->
            <app-common-product-frame></app-common-product-frame>
          </div>
          <div class="row">
            <h2>Save For Later (Item No.)</h2>
            <app-common-product-frame></app-common-product-frame>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
