<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <!-- <app-scroller-products></app-scroller-products> -->
    <!-- mobile view -->
    <!-- <app-slider></app-slider>
    <app-four-in-one-products></app-four-in-one-products>
    <app-scroller-products></app-scroller-products>
    <app-six-in-one-products></app-six-in-one-products>
    <app-product-items></app-product-items>
 <app-product-detial-mobile-view></app-product-detial-mobile-view>

    <app-footer></app-footer> -->
    <!-- end -->
    <!-- laptop and tablet -->
    <!-- <app-slider></app-slider>

    <app-four-in-one-products></app-four-in-one-products>
    <app-scroller-products></app-scroller-products>
    <app-four-in-one-products></app-four-in-one-products>
    <app-search-bar></app-search-bar>
    <app-product-items></app-product-items> -->
    <!-- <app-product-detials></app-product-detials> -->
    <!-- <app-common-products-and-filter-page></app-common-products-and-filter-page> -->
    <app-add-to-cart-product></app-add-to-cart-product>
    <!-- <app-footer></app-footer> -->
  </div>
</div>
<!-- <app-product-wish-list></app-product-wish-list> -->
