<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <app-slider></app-slider>
    <!-- <app-scroller-products></app-scroller-products> -->
    <app-four-in-one-products></app-four-in-one-products>
    <app-scroller-products></app-scroller-products>
    <app-six-in-one-products></app-six-in-one-products>
    <app-product-items></app-product-items>

    <!-- <app-footer></app-footer> -->

    <!-- <app-product-detials></app-product-detials> -->
  </div>
</div>
<!-- <app-search-bar></app-search-bar> -->
<!-- <app-product-wish-list></app-product-wish-list> -->

<app-footer></app-footer>
