<div class="container m-3">
  <div class="row">
    <div class="col-lg-9">
      <table class="carts mt-2" border="1">
        <tbody>
          <tr class="cart" border="1">
            <span class="cross-btn">*</span>
            <td rowspan="3">
              <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
            </td>
            <td>
              <tr>
                <h3>Product Name</h3>
              </tr>
              <tr>
                <p>4GB RAM</p>
              </tr>
              <tr>
                <td><span class="meter"></span></td>
                <td>
                  <button class="btn btn-secondary">Save for Later</button>
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="carts mt-2" border="1">
        <tbody>
          <tr class="cart" border="1">
            <span class="cross-btn">*</span>
            <td rowspan="3">
              <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
            </td>
            <td>
              <tr>
                <h3>Product Name</h3>
              </tr>
              <tr>
                <p>4GB RAM</p>
              </tr>
              <tr>
                <td><span class="meter"></span></td>
                <td>
                  <button class="btn btn-secondary">Save for Later</button>
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="carts mt-2" border="1">
        <tbody>
          <tr class="cart" border="1">
            <span class="cross-btn">*</span>
            <td rowspan="3">
              <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
            </td>
            <td>
              <tr>
                <h3>Product Name</h3>
              </tr>
              <tr>
                <p>4GB RAM</p>
              </tr>
              <tr>
                <td><span class="meter"></span></td>
                <td>
                  <button class="btn btn-secondary">Save for Later</button>
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="carts mt-2" border="1">
        <tbody>
          <tr class="cart" border="1">
            <span class="cross-btn">*</span>
            <td rowspan="3">
              <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
            </td>
            <td>
              <tr>
                <h3>Product Name</h3>
              </tr>
              <tr>
                <p>4GB RAM</p>
              </tr>
              <tr>
                <td><span class="meter"></span></td>
                <td>
                  <button class="btn btn-secondary">Save for Later</button>
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="carts mt-2" border="1">
        <tbody>
          <tr class="cart" border="1">
            <span class="cross-btn">*</span>
            <td rowspan="3">
              <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
            </td>
            <td>
              <tr>
                <h3>Product Name</h3>
              </tr>
              <tr>
                <p>4GB RAM</p>
              </tr>
              <tr>
                <td><span class="meter"></span></td>
                <td>
                  <button class="btn btn-secondary">Save for Later</button>
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
