<hr class="mt-3" />
<h5 class="mt-3 mb-3">Six-in-one-products works!</h5>

<div class="container m-1">
  <div class="set-display">
    <div class="main-card">
      <h4>Most Affordable TVs with premium display</h4>

      <div class="row noMargin">
        <div class="col product-card">
          <div class="product-tumb">
            <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
          </div>
          <div class="product-details">
            <h6><a href="">Women leather bag</a></h6>
          </div>
        </div>
        <div class="col product-card">
          <div class="product-tumb">
            <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
          </div>
          <div class="product-details">
            <h6><a href="">Women leather bag</a></h6>
          </div>
        </div>
      </div>
      <div class="row noMargin">
        <div class="col product-card">
          <div class="product-tumb">
            <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
          </div>
          <div class="product-details">
            <h6><a href="">Women leather bag</a></h6>
          </div>
        </div>
        <div class="col product-card">
          <div class="product-tumb">
            <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
          </div>
          <div class="product-details">
            <h6><a href="">Women leather bag</a></h6>
          </div>
        </div>
      </div>
      <div class="row noMargin">
        <div class="col product-card">
          <div class="product-tumb">
            <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
          </div>
          <div class="product-details">
            <h6><a href="">Women leather bag</a></h6>
          </div>
        </div>
        <div class="col product-card">
          <div class="product-tumb">
            <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
          </div>
          <div class="product-details">
            <h6><a href="">Women leather bag</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
