<hr />
<div class="col-12 col-lg-3 col-md-3">
  <div class="product-card">
    <div class="cross circle">&#x2716;</div>
    <div class="badge">23% OFF</div>
    <div class="product-tumb">
      <img
        src="https://www.freepnglogos.com/uploads/corona-png-logo/corona-bottle-transparent-png-logo-27.png"
        alt=""
      />
    </div>
    <div class="product-details">
      <h6><a href="">Women Bear</a></h6>
      <p>In Stock &#10004;</p>
      <div class="product-bottom-details">
        <div class="product-price"><small>$96.00</small>$230.99</div>
        <div class="product-links">
          <button
            class="btn w-100"
            style="padding: 9px; font-size: small; font-weight: 600"
          >
            ADD TO CART <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
