<hr />
<h4>Compare with similar items</h4>
<div class="table-responsive">
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th></th>
        <th scope="col">
          <img src="https://i.imgur.com/xdbHo4E.png" alt="" />
          <a href="">Tp-link</a>
        </th>
        <th scope="col">
          <img
            src="https://m.media-amazon.com/images/I/51NskoZn+ZL._AC_UY218_.jpg"
            alt=""
          />
          <a href="">Tp-link</a>
        </th>
        <th scope="col">
          <img
            src="https://m.media-amazon.com/images/I/51-DBvUGc-S._AC_UY218_.jpg"
            alt=""
          />
          <a href="">Tp-link</a>
        </th>
        <th scope="col">
          <img
            src="https://m.media-amazon.com/images/I/51u+EWykkXL._AC_UY218_.jpg"
            alt=""
          />
          <a href="">Tp-link</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">PRICE</th>
        <td style="background-color: linen !important">Mark</td>
        <td>Otto</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">RATING</th>
        <td>
          <span>
            <span
              style="
                font-size: 15px;
                font-weight: 400;
                margin-right: 8px;
                color: #999;
              "
              >4.2</span
            >
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span
          ></span>
        </td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">DATA TRANSFER RATE</th>
        <td>Larry of the world</td>
        <td>@twitter</td>
        <td>@fat</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <div style="overflow-x: auto"></div>
</div>
